{% extends "MjcdamvillePremierBundle::base.html.twig" %}

{% block content %}
<h1>Nouvelle tâche ajoutée</h1>


<p class="alert alert-success">La tâche <strong>{{ tache.description }}</strong> a été ajoutée.</p>

{% endblock %}